<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal Einstein</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/menu.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
        
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portal Einstein</a>

    </div>


    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>

          <ul class="dropdown-menu mega-dropdown-menu row">
            <li class="col-sm-3">
                <img src="https://media.lovemondays.com.br/logos/d5c94b/hospital-albert-einstein-original.jpg" class="img-responsive" >

            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Pacientes</li>
                <li><a href="#">Agendamento de exames</a></li>
                <li><a href="#">Consulta de resultados</a></li>
                <li><a href="#">Consulta médica</a></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Médicos</li>
                <li><a href="#">Consulta de resultados</a></li>
                <li><a href="#">Rastreamento de coletas</a></li>
                <li><a href="#">Estatísticas de Rastreamento</a></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="divider"></li>
                <li class="dropdown-header">Login</li>
                <form class="form" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="email" class="form-control login-custom" id="email" placeholder="Email">

                    <label class="sr-only" for="email">Senha</label>
                    <input type="email" class="form-control login-custom" id="email" placeholder="Senha">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
              </ul>
            </li>
          </ul>

        </li>
      </ul>

    </div>
    <!-- /.nav-collapse -->
  </nav>
</div>

<h1 class="c-text"> Bootstrap Mega Menu </h1>   
    

    <!-- jQuery -->
    <script src="./js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
